.label {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    display: block;
    word-wrap: break-word;
    color: #63666a;
}

.chkLabel {
    padding-top: 0.25rem;
    margin-bottom:0.25rem !important; 
    display: block;
    word-wrap: break-word;
    color: #63666a;
}

.required{
    color:red;
}

.productLabel{
    padding-left: 0.1rem !important;
}


  .label-align{
    text-align:right;
  }

  .gridInputSize{
    padding: 0 4px;
    min-height: auto;
    border-color:  #63666a;
}

.item-right{
    text-align:right;
  }
  .item-left{
    text-align:left;
  }

  .errorMessage{
    display: block;
    color: red !important;
}
.widthAdjust{
  width: 130%;
}