<div class="-font--serif">
  <!-- <div class="-font--plus-2">Service Type : Add/Modify </div> -->
<p-fieldset>
    <p-header>Service Type : {{formMode}}</p-header>
<div class="p-grid nested-grid">
    <div class="p-col-6">
        <div class="p-grid">
            <div class="p-col-5 item-right">
                <label class="label"><span class="required">*</span>Product Name </label>
            </div>
            <div class="p-col-5 item-left">
                <p-dropdown    
            [options]="productReferenceDataList"
            [(ngModel)]="gcbDetailFilters.productId"      placeholder="Select"   [autoWidth]="true"
            [style]="{'width': '130%'}"   
            [filter]="true"  (click)="getServicetype()"
            scrollHeight="150px"  [disabled]="editFlag">
            
            </p-dropdown>
            </div>
        </div>

        <div class="p-grid">
                <div class="p-col-5 item-right">
                    <label class="label">Process  Name</label>
                </div>
                <div class="p-col-5 item-left">
                        <input class="form-control widthAdjust" [(ngModel)]="gcbDetailFilters.processName" [disabled]="true" >
                </div>
            </div>


        <div class="p-grid">
            <div class="p-col-5 item-right" >
                <label class="label"><span class="required">*</span>Billed From </label>
            </div>
            <div class="p-col-5 item-left">
                 <!-- <p-dropdown [options]="countryCodeReferenceDataList" [(ngModel)]="gcbDetailFilters.billedFromLocationId" placeholder="Select" [autoWidth]="true"
                                    [style]="{'width': '100%' , 'position': 'relative' , 'margin-top' : '-1px' , 'margin-left' : '1px', 'border-color':'#244364' ,'color': '#868e96'}"
                                    [filter]="true" (click)="getServicetype()" scrollHeight="150px">
                </p-dropdown> -->
                <p-dropdown [options]="countryCodeReferenceDataList" (click)="getServicetype()"  [style]="{'width': '130%'}" placeholder="Select" [(ngModel)]="gcbDetailFilters.billedFromLocationId" [filter]="true" ></p-dropdown>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-5 item-right">
                 <label class="label"><span class="required">*</span>Billed To </label>
            </div>
            <div class="p-col-5 item-left">
                <p-dropdown [options]="countryCodeReferenceDataList" [(ngModel)]="gcbDetailFilters.billedToLocationId" placeholder="Select" [autoWidth]="true"
                [style]="{'width': '130%'}"  [filter]="true" (click)="getServicetype()" scrollHeight="150px">
                </p-dropdown>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-5 item-right">
                 <label class="label"><span class="required">*</span>Service Type Name </label>
            </div>
            <div class="p-col-5 item-left">
                <input class="form-control widthAdjust"  [disabled]="true" [(ngModel)]="gcbDetailFilters.serviceTypeName" tooltip="gcbDetailFilters.serviceTypeName" >
            </div>
        </div>
        <div class="p-grid">
                <div class="p-col-5 item-right">
                     <label class="label">Legacy Service Type Name</label>
                </div>
                <div class="p-col-5 item-left">
                    <input class="form-control widthAdjust"  [(ngModel)]="gcbDetailFilters.legacyServiceTypeName" [disabled]="legacyServiceTypeEnableFlag">
                </div>
            </div>
       
    </div>
    <div class="p-col-6">
            <p-fieldset>
                    <p-header>Billing Info</p-header>
                    <div class="p-grid">
                            <div class="p-col-3 item-right">
                                  <label class="label"><span class="required">*</span>Billing Basis </label>
                            </div>
                            <div class="p-col-5 item-left">
                                 <p-dropdown [options]="billingReferenceDataList" [(ngModel)]="gcbDetailFilters.billingBasis" placeholder="Select" [autoWidth]="true"
                                                    [style]="{'width': '130%' , 'position': 'relative' , 'margin-top' : '-1px' , 'margin-left' : '1px', 'border-color':'#244364' ,'color': '#868e96'}"
                                                    [filter]="true" scrollHeight="150px">
                                                </p-dropdown>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-3 item-right">
                                  <label class="label"><span class="required">*</span>Cost Center </label>
                            </div>
                            <div class="p-col-5 item-left">
                                <input class="form-control widthAdjust" [(ngModel)]="gcbDetailFilters.costCenter"  >
                
                            </div>
                        </div>
                    <!-- <div class="p-grid">
                            <div class="p-col-3 item-right">
                                 <label class="label"><span class="required">*</span>VAT Percent</label>
                            </div>
                            <div class="p-col-5 item-left">
                                <input class="form-control" [(ngModel)]="gcbDetailFilters.vatPercent" >
                            </div>
                    </div>
                    <div class="p-grid">
                            <div class="p-col-3 item-right">
                                 <label class="label"><span class="required">*</span>WHT Percent</label>
                            </div>
                            <div class="p-col-5 item-left">
                                <input class="form-control" [(ngModel)]="gcbDetailFilters.whtPercent"  >
                            </div>
                    </div>
                    <div class="p-grid">
                            <div class="p-col-3 item-right">
                                 <label class="label"><span class="required">*</span>TP Percent</label>
                            </div>
                            <div class="p-col-5 item-left">
                                <input class="form-control" [(ngModel)]="gcbDetailFilters.tpPercent"  >
                            </div>
                    </div> -->
                    <!-- <div class="p-grid">
                            <div class="p-col-4 item-right">
                                 <label class="label"><span class="required">*</span>UNSPSC Override</label>
                            </div>
                            <div class="p-col-2 item-left">
                                    <p-checkbox [(ngModel)]="gcbDetailFilters.unspscOverride" binary="false" labelStyleClass="chkLabel"></p-checkbox><label class="label"></label>
                            </div>
                            <div class="p-col-4 item-left">
                                    <input class="form-control" [(ngModel)]="gcbDetailFilters.unspsc" [disabled]="!gcbDetailFilters.unspscOverride" >
                                </div>
                    </div> -->
                    <!-- <div class="p-grid">
                            <div class="p-col-5 item-right">
                                 <label class="label"><span class="required">*</span>UNSPSC Map</label>
                            </div>
                            <div class="p-col-5 item-left">
                                <input class="form-control" [(ngModel)]="gcbDetailFilters.unspsc" [disabled]="!gcbDetailFilters.unspscOverride" >
                            </div>
                    </div>                      -->
            </p-fieldset>
    </div>
</div>
<div class="p-grid">
    <label class="errorMessage">{{errorMessage}}</label>
    </div>
<div class="p-grid">
        <div class="p-col-12" style="text-align:right">
            <button class="ge-button -fill--solid" (click)="upsertServiceType()">Submit</button>
            <button class="ge-button -fill--solid" (click)="clearAllFilters()">Cancel</button>
            <app-file-download [dwnData]="gcbDwnData" [colsHeader]="this.downloadCols" [fileName]="fileName"  (dwnAction)="getAllServiceType();"></app-file-download>

        </div>
    </div>
</p-fieldset>

<div class="p-grid">
<div class="p-col-12">
        <div class="p-col-12" style="text-align:right"> {{ tt.totalRecords }} records</div>
 <p-table #tt [columns]="cols" [value]="serviceTypes" [style]="{'margin-top':'2px','width':'100%'}" [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th [ngStyle]="{'width': '5%'}">Modify</th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
         <tr>
           <th></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                
                <input class="gridInputSize" [ngStyle]="{'width': '99%'}" *ngSwitchCase="col.field" pInputText type="text" (input)="tt.filter($event.target.value, col.field, 'contains')">

            </th>
        </tr> 
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <!-- <td>
                <p-tableRadioButton [value]="rowData" (click)="showSelectedData(rowData['serviceTypeId'])" ></p-tableRadioButton>
            </td> -->
            <td [ngStyle]="{'width': '31px'}">
                    <div class="justify-content-center">
                        <a class="a-color" style="cursor:pointer;" (click)="showSelectedData(rowData['serviceTypeId'])">
                            <i class="fa fa-pencil-square-o fa-2x"></i>
                        </a>
                    </div>
            </td>
            <td *ngFor="let col of columns" >
              <div> {{rowData[col.field]}}</div>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
</div>
<footer class="ge-footer"></footer>
</div>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Message</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <p class="text-center">{{popupErrorMessage}}</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click'); ">Ok</button>
  </div>
</ng-template>