<div class="ui-g ui-g-nopad  ui-fluid " id="header">

    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-7">
            <img src="./assets/images/monogram-small.png" id="top-logo" />
            <strong>&nbsp;&nbsp;&nbsp;Global Chargeback Management System (GCMS) </strong>


        </div>
        <div class="ui-g-5  ui-rtl" dir="rtl" style="text-align:right">
            <!--       <p-button   
        
        (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i>Log Out</p-button>
      </div> -->
            <!--       <button pButton type="button" 
     
      label="Log Out" icon="fa fa-fw fa-power-off" iconPos="left"
      (click)="onLoggedout()"
      class="ui-button-secondary"></button> -->
            <p-button class=" ui-button-secondary" label="Log Out" icon="fa fa-fw fa-power-off" iconPos="left" (click)="onLoggedout()"></p-button>
            {{headText}}


        </div>

    </div>
    <!-- 
<nav class="navbar navbar-expand-lg fixed-top">
       
         
  <a class="navbar-brand"  >
      <img src="./assets/images/monogram-small.png"/>&nbsp;
      <strong>Global Chargeback</strong></a>
      <div class="collapse navbar-collapse">

     
      
          <ul class="navbar-nav ml-auto">
  
             
              <li class="nav-item dropdown" ngbDropdown>
                  <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                      <i class="fa fa-2x fa-user"></i><b class="caret"><strong> {{firstName}} {{lastName}}</strong> </b>
                  </a>
                  <div class="dropdown-menu-right" ngbDropdownMenu>
                      <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                          <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                      </a>
                  </div>
              </li>
          </ul>
      </div>
  <button class="navbar-toggler" type="button" 
(click)="toggleSidebar()" 
  >
      <i class="fa fa-bars text-muted" aria-hidden="true"></i>
  </button>
  
</nav>
 -->