<div class="p-grid">
  <div class="p-col-4 item-right">Site Details</div>
  <div class="p-col-8 item-left">
    <p-dropdown
      [options]="[]"
      [style]="{'width': '100%'}"
      [filter]="true"
      [autoDisplayFirst]="true"
      [resetFilterOnHide]="true">
    </p-dropdown>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-4 item-right">Site Details</div>
  <div class="p-col-8 item-left">
    <p-dropdown
      [options]="[]"
      [style]="{'width': '100%'}"
      [filter]="true"
      [autoDisplayFirst]="true"
      [resetFilterOnHide]="true">
    </p-dropdown>
  </div>
</div>
<!-- <p>Hello from site details</p> -->