<div class="p-grid">
    <div class="p-col-2.8 treeView" *ngIf="!screenFlag">
        <p-tree [value]="treeData" [filter]="true">            
        </p-tree>
    </div>
        <div class="p-col-2.8 treeView" *ngIf="screenFlag">  
                <p-tree [value]="treeData" [filter]="true">       
                    </p-tree>
                    Please wait, loading.<p-progressSpinner [style]="{width: '30px', height: '30px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
 
    </div> 
    <div class="p-col-9 menuAndForms" >
            <div class="p-col-12">
                <p-tabMenu [model]="menuItems" ></p-tabMenu>
            </div>
            <div class="p-col-12">
                <router-outlet></router-outlet>
            </div>
            
    </div>
</div>