/* You can add global styles to this file, and also import other style files */
/* @import "spinner";
@import "utils";
@import "rtl"; */
@import "responsive";
@import '~primeicons/primeicons.css';
@import '~core-design-css/core-design.css';
@import '~core-design-css/core-design-brand-only.css';
@import "bootstrap/bootstrap";

 

body {
 
  font-family: "GE Inspira Serif" !important;
  margin: 0px;
  font-size: 1em !important;
}
.ui-card{
  font-family: 'GE Inspira Serif' !important;
}
.ui-menuitem-text {
  font-family: "GE Inspira Serif" !important;

}
.ui-table {
  font-family: "GE Inspira Serif" !important;
}
.ui-table .ui-table-thead> tr> th {
     white-space: pre-line !important;
  
    text-overflow: ellipsis;
    max-width: 150px;
   }

   .ui-datatable-data> tr> td {
    white-space: pre-line !important;
 
   text-overflow: ellipsis;
   max-width: 150px;
  }
   .ui-table .ui-table-tbody> tr>  td {
    white-space: pre-line !important;
 
   text-overflow: ellipsis;
   max-width: 150px;
  }

  .ui-table-resizable .ui-table-thead>tr>th, .ui-table-resizable .ui-table-tfoot>tr>td, .ui-table-resizable .ui-table-tbody>tr>td {
    overflow: visible !important;
    word-break: break-word !important;
}
/* You can add global styles to this file, and also import other style files 
body {
  background-color: #D9E0E7 !important;
  margin: 0px;
  font-size: 1em !important;
}

.ui-panel-titlebar {
  background-color: #2F8EE5 !important;
  color: white !important;
}

.ui-menu {
  width: auto !important;
  margin: 0px !important;
  border: none !important;
  background-color: #2D353C !important;
}

.ui-menu-list {
  background-color: black !important;
}

.ui-menuitem-text {
  color: white !important;
}

.ui-menuitem-icon {
  color: white !important;
  font-size: large !important;
  margin-right: 1em;
}

body .ui-menu .ui-menuitem :hover {
  background-color: #2F8EE5 !important;
}

.menu-selected {
  background-color: #F15B2A !important;
  color: #ffffff;
}

/* Debugging Layouts
@media screen and (min-width: 64.063em) {
  .ui-lg-3 {
    background-color: green;
  }
}
@media screen and (min-width: 40.063em) {
  .ui-md-6 {
    background-color: yellow;
  }
}
@media screen and (max-width: 40em) {
  .ui-sm-12 {
    background-color: palevioletred;
  }
}
*/
@media print {
    .breadcrumb {
        display: none !important;
    }
}
