<!-- <div class= "ui-g-4">

  <p-card header="" [style]="{width: '360px'}">
                              <h4>Welcome to Global Chargeback</h4>
                              <br/>
                              <span>Improving the vendor billing process</span>
                              <br/>
                              <br/>
                              <button routerLink="/about">READ MORE</button>
  
  </p-card>
<br>
<p-card header="" subheader="New" [style]="{width: '360px'}" styleClass="ui-card-shadow">

        <h4>Our Latest Release</h4> 

        <ul>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
          </ul>

    <p-footer>
 </p-footer>
</p-card> 
</div>-->  
<section class="-align--left -box-shadow">
  <div class="ge-box -text--center -overlay--gradient -color--gray -image--cover -height--m">
      <div class="ge-grid -height--full -align--center">
          <div class="ge-box -width--1of2 -padding--xl">
              <div class="ge-grid">
                  <div class="ge-box -width--4of4 -text--left -font-color--white">
                      <h1>Global Chargeback</h1>
                      <span>Improving the vendor billing process</span>
                      <br/>
                      <button class="ge-button -color--blue" routerLink="/about">READ MORE</button>
                  </div>
              </div>
          </div>
          <p-card header="" subheader="New" [style]="{width: '360px'}" styleClass="ui-card-shadow">

            <h4>Our Latest Release</h4> 
    
            <ul>
                <li>Feature 1</li>
                <li>Feature 2</li>
                <li>Feature 3</li>
              </ul>
    
        <p-footer>
     </p-footer>
    </p-card> 
          <div class="-width--1of2"></div>
      </div>
  </div>
</section>



