/* .label {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    display: block;
    word-wrap: break-word;
    color: #63666a;
}


.chkBox{
    margin-top: 10px;
}
.radio{
    margin-right: 10px;
}

.dropDown{
   width: 100% ;
   position: relative ;
   margin-top : -1px ;
   margin-left :1px;
   border-color:#244364;
   color: #868e96;
} */